body {
  font-family: Helvetica;
}

.flash {
  padding: 10px;
}

.flash_error {
  background-color: #ffc4ba;
}

.flash_notice {
  background-color: #bde9ff;
}

.flash_success {
  background-color: #bdf9c0;
}

.flash_alert {
  background-color: #f6fdcc;
}

.required {
  font-weight: bold;
}

.button {
  background-color: black;
  color: white;
  padding: 15px;
}

.buttons {
  float: left;
  padding-bottom: 20px;
}

.clear {
    clear: both;
}

table th {
  background-color: darkgrey;
  color: white;
  text-align: left;
  padding: 8px;
}

table tr.even {
  background-color: lightgrey;
}

.long_table {
  border-collapse: collapse;
}